<div id="container">
    <div *ngIf="newUser == false" id="loginContainer" class="center">
        <label for="username">Username</label>
            <input type="text" class="form-control" id="username" 
                required
                [(ngModel)]="username" name="username">
        <br>
        <label for="password">Password</label>        
            <input type="text" class="form-control" id="password" 
                required
                [(ngModel)]="password">
        <br>
        <button (click)='login()' type="submit" class="btn btn-success">Log In</button>
        <button (click)='createNewUser()' type="submit" class="btn btn-success">Create Log In</button>
    </div>   
    <div *ngIf="newUser" id="newUserContainer" class="center">
        <label for="newUsername">New Username</label>
        <input type="text" class="form-control" id="newUsername" 
            required
            [(ngModel)]="newUsername" name="newUsername">
        <br>
        <label for="newPassword">New Password</label>        
        <input type="text" class="form-control" id="newPassword" 
            required
            [(ngModel)]="newPassword">
        <br>
        <label for="confirmPassword">Confirm Password</label>        
        <input type="text" class="form-control" id="confirmPassword" 
            required
            [(ngModel)]="confirmPassword">
        <br>
        <label for="age">Age</label>        
        <input type="text" class="form-control" id="age" 
            required
            [(ngModel)]="age">
        <br>
        <label for="email">Email</label>        
        <input type="text" class="form-control" id="email" 
            required
            [(ngModel)]="email">
        <br>
        <button (click)='createNewUser()' type="submit" class="btn btn-success">Create</button>        
    </div>
</div>