<div id="map">
    <agm-map 
        *ngIf="coords" 
        [latitude]="coords.latitude" 
        [longitude]="coords.longitude" 
        [zoom]="14"
        [disableDoubleClickZoom]="true"        
        (mapDblClick)="mapDblClicked($event)">

        <agm-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(i)"
            [latitude]="m.lat"
            [longitude]="m.lng">

            <agm-info-window>
                <strong>Organizer's Name</strong> : {{m.pickUpInfo.registerName}} <br>
                <strong>Sport</strong> : {{m.pickUpInfo.typeOfSport}} <br>
                <strong>Number of Players</strong> : {{m.pickUpInfo.numOfPlayers}} <br>
            </agm-info-window>

        </agm-marker>
    </agm-map>
</div>