<div id="container">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" 
        required
        [(ngModel)]="currName" name="name">
    
    <label for="numOfPlayers">Number of Players</label>        
    <input type="text" class="form-control" id="numOfPlayers" 
        required
        [(ngModel)]="currNumOfPlayers">

    <label for="sports">Sport</label><br>  
    <select class="form-control" id="sports" 
        required
        [(ngModel)]="currSport" name="sport">
        <option *ngFor="let sport of sports" [value]="sport">{{sport}}</option>
    </select>
    <br>
    <button *ngIf="markerPlaced" (click)='onSubmit()' type="submit" class="btn btn-success">Submit</button>

    <div *ngIf="auth.user$ | async as user">
            <h3>Logged in as {{ user.displayName }}</h3>
            <img src="{{ user.photoURL }}" width="50px">
            <button (click)="auth.logout()">Logout</button>
        
            <button (click)="auth.getCalendar()">Get Google Calendar</button>
            <button (click)="auth.insertEvent()">Add Event</button>
        
            <div *ngFor="let item of auth.calendarItems">
                <h3>{{ item.summary }} - {{ item.status }}</h3>
                <p><em>Created {{ item.created }}</em></p>
                <p>{{ item.description }}</p>
            </div>
    </div>
    <button (click)="auth.login()">Login with Google</button>
</div>